/* YOUR CUSTOM STYLES */
body {
    font-family: 'Roboto Slab', serif;
    background-color: #eee;
    margin-top: 100px;
}

.status-comments {
    margin-left: 50px;
}

.well {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 15px;
}

#fos_user_registration_form input {
    background-color: white;
}

body > div.container > form > div:nth-child(2) > input[type="submit"] {
    margin-top: 20px;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 7px;
    }
}

