{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>A propos</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur et, eveniet facilis fuga in,
                iusto magnam mollitia numquam officia perferendis quis reiciendis sapiente, similique sit soluta veniam
                voluptas! Vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur et, eveniet
                facilis fuga in, iusto magnam mollitia numquam officia perferendis quis reiciendis sapiente, similique
                sit soluta veniam voluptas! Vitae. </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur et, eveniet facilis fuga in,
                iusto magnam mollitia numquam officia perferendis quis reiciendis sapiente, similique sit soluta veniam
                voluptas! Vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur et, eveniet
                facilis fuga in, iusto magnam mollitia numquam officia perferendis quis reiciendis sapiente, similique
                sit soluta veniam voluptas! Vitae. </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur et, eveniet facilis fuga in,
                iusto magnam mollitia numquam officia perferendis quis reiciendis sapiente, similique sit soluta veniam
                voluptas! Vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur et, eveniet
                facilis fuga in, iusto magnam mollitia numquam officia perferendis quis reiciendis sapiente, similique
                sit soluta veniam voluptas! Vitae. </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur et, eveniet facilis fuga in,
                iusto magnam mollitia numquam officia perferendis quis reiciendis sapiente, similique sit soluta veniam
                voluptas! Vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur et, eveniet
                facilis fuga in, iusto magnam mollitia numquam officia perferendis quis reiciendis sapiente, similique
                sit soluta veniam voluptas! Vitae. </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur et, eveniet facilis fuga in,
                iusto magnam mollitia numquam officia perferendis quis reiciendis sapiente, similique sit soluta veniam
                voluptas! Vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur et, eveniet
                facilis fuga in, iusto magnam mollitia numquam officia perferendis quis reiciendis sapiente, similique
                sit soluta veniam voluptas! Vitae. </p>
        </div>
    </div>
{% endblock content %}